@import './settings/colors';

.yellowBelt{
    background-color: $attentionColor;
    color:$boldFontColor;
    width:100vw;
    padding:2vw;
    display:inline-block;
    h1{
        padding-bottom:1vw;
        font-size: 4.5vw;
        font-weight: bolder;
    }
    p{
        font-size: 4vw;
    }
}

.bearImg{
    background-image: url(../assets/Background-Form.jpg);
    background-position: right;
    width: 100vw;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.leaveThingsForm{
    // margin-top:-1vw;
    // background-image: url(../assets/Background-Form.jpg);
    // background-repeat: no-repeat;
    // //background-size: cover;
    // background-position: left;
    background-color: $altBackgroundColor;
    width: 100vw;
    height: 100vw;
}

