@import './settings/fonts';
@import './settings/colors';

@mixin inputStyle{
    margin:3vw 0;
    width: 54vw;
    height: 4vw;
    font-size: 3vw;
    border:none;
    border-bottom: 1px solid black;
    background-color: transparent;   
}

@mixin resetBtn{
    border:0;
    margin:0;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

@mixin button{
    @include resetBtn;
    padding:1vw;
    font-size: 4vw;
    color: $regularFontColor;
    border:1px solid $regularFontColor;
    width: 35vw;
}

.logFormBox{
    display: flex;
    justify-content: center;
    margin-top:2vw;
    .userBox{
        background-color: $altBackgroundColor;
        width: 66vw;
        height: 40vw;
        padding: 5vw 6vw;
        color: $boldFontColor;
        font-weight: bolder;
        label{
            font-size: 3vw;
        }
        input{
            @include inputStyle
        }
        strong{
            color:red;
            font-weight: bolder;
            font-family: $font-base;
            font-size: 2.5vw;
            padding-bottom: 2vw;
            display: block;
        }
    }
    .userBoxReg{
        height: 57vw;
    }
}

.submitBox{
    display: flex;
    justify-content: space-around;
    padding-top: 5vw;
    .active{
        border: 2px solid $attentionColor;
    }
}

.formMargin{
    margin-top: 5vw;
}

.mainPageBtn{
    @include resetBtn;
    @include button;
    padding: 2vw;
    a{
        text-decoration: none;
        color: $regularFontColor;
    }
}

.noBorderBtn{
    background-color: transparent;
    padding:1vw;
    font-size: 4vw;
    color: $regularFontColor;
    width: 25vw;
    border: none;
    a{
        text-decoration: none;
        color: $boldFontColor;
        font-size: 3.5vw;
    }
}
.active{
    border: 2px solid $altBackgroundColor
}

