@import './settings/fonts';
@import './settings/colors';
@import '../../node_modules/reset.css/reset.css';
@import './login-out-reg';
@import './form-section';

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.unvisible{
    opacity:0;
}

body{
    font-family: $font-base;
    color:$regularFontColor ;
    background-color: $backgroundColor;

}

body, html {
    overflow-x: hidden; 
    width: 100vw;
  }
  
@mixin resetBtn{
    border:0;
    margin:0;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

@mixin hamburgerLine {
    width: 100%;
    height: 1vw;
    background-color: black;
    position: absolute;
}

@mixin button{
    @include resetBtn;
    padding:1vw;
    font-size: 4vw;
    color: $regularFontColor;
    border:1px solid $regularFontColor;
    width: 30vw;
}

//home section :
.navigation{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100vw;
    background-color: white;
    z-index: 100;
}

.emptyDiv{
    width: 100vw;
    height: 70px;
}
.hamburger{
    padding:5vw;
    display: inline-block;
    @include resetBtn;
}

button:focus {outline:0;border: 2px solid $attentionColor;}

.hamburgerBox{
    width: 8vw;
    height: 7vw;
    display: inline-block;
    position: relative;
}

.hamburgerInner{
    @include hamburgerLine;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
    
    &:before,&:after{
        @include hamburgerLine;
        top:2.5vw;
        left: 0;
        content:'';
        transition: transform .2s .2s ease-in-out;
    }
    &:before{
        top: -2.5vw;
    }
    &:after{
        top:2.5vw;
    }
}

.hamburgerActive .hamburgerInner{
    background-color: transparent;
    &:before{
        transform:translateY(2.5vw) rotate(45deg);
    }
    &:after{
        transform:translateY(-2.5vw) rotate(-45deg);
    }
}

.navMenu{
    transition: transform .4s ease-in-out;
    transform:translateY(-80vw);
    font-size: 3vw;
    background-color: $backgroundColor;
    position: absolute;
    float: right;
    margin-left: 56vw;
    .navOptions{
        list-style: none;
        padding: 2vw;
        border: 1px solid black;
        width: 45vw;
    }
}

.hideNav{
    opacity:0;
    transition: 0.25s;
}

.scrolled{
    position: fixed;
    z-index: 100;
    transition: 0.25s;
    width: 100px;
    transition: 0.25s;
    nav{
        transition: 0.25s;
        div, span, button{
            opacity:100;
            transition: 0.25s;
        }
    }
}
.notScrolled{
    transition: 0.25s;
}

.active{
    padding: 0.7vw;
}

.hiddenMenu{
    transform:translateX(-100vw);
    transition: transform .2s .2s ease-in-out;
}

.homeImg{
    
    background-size: cover;
    width: 20vw;
    height: 20vw;
    background: url(../assets/Home-Hero-Image.jpg) no-repeat right/cover;
    transition: 0.25s;
}

.mainIdea{
    color: $darkGrey;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    h1{
        font-size: 5vw;
        padding: 11vw 11vw 4vw 11vw;
    }
}

.decorationBox{
    justify-content: center;
    display: flex;
    width: 100vw;
    img{
        height: 5vw;
        margin-bottom: 4vw;
    }
}

.loginBox{
    transition: transform .4s ease-in-out;
    transform:translateY(-20vw);  
    display: flex;
    align-items: center;
    h1{
        font-size: 3.5vw;
        transform:translateY(20vw);
    }
}

.menuActive{
    transition: transform .4s ease-in-out;
    transform:translateY(0vw);
    transform:translateX(0vw);
}

.leaveStuffBox{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    @include button;
    a{
        text-decoration: none;
        color: $boldFontColor;
        font-size: 3.5vw;
    }
}

a{
    transition: color 0.2s ease-in-out;
}
a:hover{
    transition: color 0.2s ease-in-out;
    color: $attentionColor;
}

.btnLogin{
    @include button;
    font-size: 3vw;;
    a{
        transition: color 0.2s ease-in-out;
        text-decoration: none;
        color: $regularFontColor;
        &:hover{
            transition: color 0.2s ease-in-out;
            color: $attentionColor;
        }
    }
}

.btnLogout{
    a{
        text-decoration: none;
        color: $regularFontColor;
        border-style: none;
    }
}

.threeColumns{
    margin-top: 5vw;
    background-image: url(../assets/3ColumnsBackground.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $columnFontColor;
    text-align: center;
    padding: 2vw;

}

.column{
    padding: 2vw;
    h2{
        color:$columnFontColor;
        font-size: 8vw;
        padding: 1vw;
        font-weight: 300;
    }
    strong{
        font-size: 4vw;
        padding: 1vw;
        //font-weight: bolder;
        display: inline-block;
    }
    p{
        font-size: 3.7vw;
        padding: 1vw;
        font-family: $font-alt;
        font-weight: 300;
    }
}

.textUpDecoration{
    text-align: center;
    padding:8vw;
    font-size: 4vw;
    color: $boldFontColor;
}

.fourStepsBox{
    margin-top: 5vw;
    background-color: $altBackgroundColor;
    width: 100vw;
    padding: 6vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    div:nth-child(3){
        margin-top: 2vw;
    }
    div:nth-child(4){
        margin-top: 2vw;
        h3{
            margin-top: 2vw;
        }
    }
}

.stepImg{
    display: inline-block;
    width: 16vw;
    height: 16vw;
}

.step{
    text-align: center;
    padding-left: 5vw;
    width: 30vw;
    justify-content: center;
    h3{
        color: $boldFontColor;
        padding: 3vw 0;
        font-size: 3.5vw;
        &:after{
            content: '';
            display: block;
            width: 25vw;
            height: 2vw;
            border-bottom: 1px solid $regularFontColor; 
        }
    }
    p{
        font-size: 3vw;
    }
}

.putThingsBtn{
    @include button;
    a{
        text-decoration: none;
        color: $regularFontColor;
    }
}

.btnBox{
    padding: 8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //button:focus {outline:0;border: 0.1vw solid $altBackgroundColor;}
    .active{
        border: 0.1vw solid $altBackgroundColor;
        padding: 0.9vw 0;
    }
}

.paddingTopCorrect{
    padding-top: 0;
}

.btnBoxMenu{
    padding: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    button:focus {outline:0;border: 2px solid $altBackgroundColor;}
    .active{
        border: 2px solid $altBackgroundColor;
    }
}

.aboutUsBox{
    width: 100vw;
    height: 68vw;
    display: flex;
    .aboutUs{
        width: 50vw;
        height: 68vw;
        background-color: $altBackgroundColor;
    }
    .happyPeopleImg{
        width: 50vw;
        height: auto;
        background-image: url(../assets/People.jpg);
        background-size: cover;
    }
}

.aboutUs{
    color: $boldFontColor;
    text-align: center;
    h2{
        padding-top: 8vw;       
        font-size: 4vw;
    }
    div{
        img{
            width: 35vw;
            height: 12vw;
        }
    }
    p{
        font-size: 3.3vw;
        padding: 0 4vw;
    }
    img{
        width: 20vw;
    }
}

.signature{
    padding-top: 4vw;
    display: flex;
    justify-content: flex-end;
}

.orgBtn{
    @include button;
    width: 30vw;
    border: none;
    margin:4vw;
    color: $boldFontColor;
}

.orgText{
    text-align: center;
    color: $boldFontColor;
    font-size: 4vw;
    padding: 0 10vw 7vw 10vw;
}

.institutionsBaseInfo{
    width: 100vw;
    height: 100vw;
    background-color: $altBackgroundColor;
    text-align: center;
}

.thingsImg2{
    width: 100vw;
    height: 50vw;
    background-image: url(../assets/Background-Contact-Form.jpg);
    background-size: cover;
    opacity: 0.5;
    display: none;
}

.orgBox{
    width: 100vw;
    //border: 1px solid black;
    .orgItem{
        padding: 2vw;
        //border: 1px dotted black;
        h3{
            font-size: 3.5vw;
            padding: 0.5vw;
        }
        p{
            font-size: 2.5vw;
            padding: 1vw;
        }
    }
    .orgItem:nth-child(2){
        border-bottom: 1px solid $regularFontColor;
        border-top: 1px solid $regularFontColor;;
    }
}

.paginationBox{
    padding: 3vw;
    display: flex;
    justify-content: center;
    button{
        @include resetBtn;
        margin: 1vw;
        padding:1vw;
        font-size: 4vw;
        color: $regularFontColor;
    }
    button:focus {outline:0;border: 2px solid $altBackgroundColor;}
    .active{
        border: 2px solid $altBackgroundColor
    }
}


.formHome1{
    display: flex;
    justify-content: center;
}
.formHome{
    label{
        display: block;
        margin: auto;
        padding: 3vw 0 1vw 0;
        font-size: 4vw;
        color: $boldFontColor;
    }
    input{
        font-size: 3.5vw;
        color: $boldFontColor;
        width: 61vw;
        opacity: 0.5;
        border: none;
        border-bottom: 1px black solid;
    }
    textarea{
        font-family: $font-base;
        font-size: 3.5vw;
        color: $boldFontColor;
        opacity: 0.5;
        border: none;
        border-bottom: 1px black solid;
        resize: none;
        width: 62vw;
    }
    strong{
        color:red;
        font-weight: bolder;
        font-family: $font-base;
        font-size: 2.5vw;
    }
}

.successText{
    text-align: center;
    font-family: $font-base;
    font-size: 2.8vw;
    font-weight: bolder;
    color: rgb(40, 182, 40);
}

.footerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
    p{
        padding-right: 20vw;
        padding-left: 25vw;
        font-size: 2vw;
    }
    img{
        width: 3vw;
        height: auto;
        margin-left: 1vw;
    }
}

.mainPage{
    display: flex;
    justify-content: flex-end;
    padding: 4vw;

}

.marginCorrect{
    margin: 0;
    border: none;
}

.logMarginCorrect{
    margin-top: 15vw;
}

.btnRightCorrect{
    margin-left: 3vw;
}

@media screen and (min-width:576px) and (max-width:768px){

    .mainIdea h1 {
        font-size: 4vw;
        padding: 7vw 22vw 2vw 22vw;
    }

    .btn a {
        font-size: 3vw;
    }

    .column{
        width: 37vw;
        h2{
            font-size: 7vw;
            padding: 1vw;
        }
        strong{
            font-size: 3vw;
            padding: 1vw;
            font-weight: normal;
        }
        p{
            font-size: 2.7vw;
            padding: 1vw;
        }
    }

    .textUpDecoration {
        font-size: 3vw;
        padding: 5vw;
    }
    .decorationBox {
        img{
            height: 4vw;
            margin-bottom: 0vw;
        }
    }

    .fourStepsBox{
        div:nth-child(3){
            margin-top: 0vw;
            h3{
                padding-top: 1vw;
            }
        }
    }
    
    .stepImg{
        width: 12vw;
        height: 12vw;
    }
    
    .step{
        width: 28vw;
        h3{
            font-size: 2.5vw;
            padding: 2vw 0;
            &:after{
                margin-left: 1.5vw;
                width: 20vw;
            }
        }
        p{
            font-size: 2.5vw;
        }
    }
    
    .putThingsBtn {
        font-size: 3vw;
        width: 20vw;
    }
    
    .aboutUs{
        div{
            img{
                width: 26vw;
                height: 10vw;
            }
        }
        h2{      
            font-size: 3vw;
        }

        p{
            font-size: 3vw;
        }
    }
    .aboutUsBox{
        width: 100vw;
        height: 54vw;
        display: flex;
        .aboutUs{
            width: 50vw;
            height: 54vw;
            background-color: $altBackgroundColor;
        }
        .happyPeopleImg{
            width: 50vw;
            height: auto;
            background-image: url(../assets/People.jpg);
            background-size: cover;
        }
    }

    .btnBox {
        padding: 8vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .orgBtn {
        font-size: 3vw;
    }
    .orgText {
        font-size: 3vw;
    }

    .orgBox .orgItem {
        padding: 1.5vw 0;
        margin: 0 13vw;
        h3{
            font-size: 3vw;
        }
        p{
            font-size: 2vw;      
        }
    }

    .formHome {
        label {

            font-size: 2vw;
            font-weight: 600;
        }
        input {
            font-size: 2.1vw;
            color: #3C3C3C;
            background: transparent;
        }
        textarea {
            font-size: 2.1vw;
                background-color: transparent;
        }
    }

    .paginationBox button {
        font-size: 2.5vw;
    }

    .homeImg {
        width: 20vw;
        height: 16vw;
    }

}

@media screen and (min-width:769px){
    .column{
        width: 32vw;
        h2{
            font-size: 4.5vw;
            padding: 1vw;
        }
        strong{
            font-size: 1.2vw;
            padding: 1vw;
            font-weight: normal;
        }
        p{
            font-size: 1vw;
            padding: 1vw;
        }
    }
    .textUpDecoration {
        margin-top: 1vw;
        font-size: 1.8vw;
        padding: 2vw;
    }
    .decorationBox {
        img{
            height: 2vw;
            margin-bottom: 0vw;
        }
    }

    .fourStepsBox{
        margin-top: 2vw;
        justify-content: center;
        padding: 4vw;
        div:nth-child(3){
            margin-top: 0vw;
            h3{
                padding-top: 0.1vw;
            }
        }
        div:nth-child(4){
            margin-top: 0vw;
            h3{
                margin-top: 0vw;
            }
        }
    }
    
    .stepImg{
        width: 4vw;
        height: 4vw;
    }
    
    .step{
        width: 15vw;
        h3{
            font-size: 1vw;
            padding: 0.5vw 0;
            &:after{
                margin-left: 1.5vw;
                width: 7vw;
                height: 1vw;
            }
        }
        p{
            font-size: 1vw;
        }
    }

    .putThingsBtn {
        margin: 1vw 0;
        font-size: 1vw;
        width: 8vw;
        transition: color 0.2s ease-in-out;
        &:hover{
            color: $attentionColor;
            transition: color 0.2s ease-in-out;
        }
    }

    .aboutUs{
        div{
            img{
                width: 20vw;
                height: 10vw;
            }
        }

        h2{      
            font-size: 3.2vw;
        }

        p{
            font-size: 2.5vw;
        }
    }

    .aboutUsBox{
        width: 100vw;
        height: 49vw;
        display: flex;
        .aboutUs{
            width: 50vw;
            height: 49vw;
            background-color: $altBackgroundColor;
            h2{
                padding-top: 10vw;
                font-size: 2vw;
            }
            img{
                width: 15vw;
                height: 7vw;
            }
            p{              
                line-height: 3vw;
                font-size: 1.5vw;
                padding: 0 10vw;
            }
        }
        .happyPeopleImg{
            width: 50vw;
            height: auto;
            background-image: url(../assets/People.jpg);
            background-size: cover;
        }
    }

    .btnBox {
        padding: 1vw 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        // &:active{
        //     padding: 0.9vw 0;
        // }
        // :first-child{
        //     padding: 1.77vw;
        // }

    }

    // .orgBox{
    //     :first-child{
    //         padding: 1.77vw;
    //     }
    // }

    .orgBtn {
        margin:1.2vw;
        font-size: 1.3vw;
        width: 11vw;
    }

    .orgText {
        padding: 2vw 23vw 2vw 23vw;
        width: 90vw;
        font-size: 1.2vw;
        margin-left: 3.5vw;
    }

    .orgBox .orgItem {
        padding: 0.2vw 0;
        margin: 0 13vw;
        h3{
            font-size: 1.3vw;
            padding:1vw;
            padding-bottom: 0;
        }
        div{
            display: flex;
            justify-content: space-between;
        }
        p{
            font-size: 1vw;      
        }
    }

    .paginationBox button {
        font-size: 0.8vw;
    }

    .formHome {
        label {
            padding: 2vw 0 1vw 0;
            font-size: 1vw;
            font-weight: 600;
        }
        input {
            font-size: 1.1vw;
            color: #3C3C3C;
            width: 14.5vw;
            background: transparent;
        }
        textarea {
            font-size: 1.1vw;
            background: transparent;
            width: 30vw;
        }
        .bigScreenFlex{
            display: flex;
            justify-content: space-between;
        }
    }

    .formHomeBox{
        position: absolute;
        left: 60vw;
        top: 220vw;
    }

    .thingsImg2 {
        display: block;
        height: 57vw;
    }

    .footerBox {
        position: absolute;
        left: 12vw;
        top: 267vw;
        padding-bottom: 0vw;
        p{
            font-size: 1vw;
            padding-left: 34vw;
            padding-right: 35vw;
        }
        img{
            width: 1.3vw;
        }
    }
    .decorationBox {
         width: auto;
         height: 2vw;
         img{
             height: 2vw;
         }
    }

    .loginBox {
        transition: transform .4s ease-in-out;
        transform: translateY(0vw);
        display: flex;
        height: 7vw;
        font-size: 2vw;
        width: 15vw;
        margin-right: 4.5vw;

        .active{
            border: 2px solid $attentionColor;
        }
        h1 {
            font-size: 1.3vw;
            position: absolute;
            top: -17vw;
            right: -18.5vw;
            width: 50vw;
            text-align: center;
            color:black;
        }
        .positionRightCorrect{
            right: -10.3vw;
        }
    }

    .btnLogin{
        border: none;
    }

    .navMenu {
        transition: transform .4s ease-in-out;
        transform: translateY(0vw);
        font-size: 4vw;
        background-color: white;
        position: absolute;
        margin-left: 50vw;
        display: flex;
        justify-content: center;
        font-size: 1.2vw;
        top: 7vw;
        width: 50vw;

        .navOptions {
            display: inline;
            list-style: none;
            padding: 0;
            border: none; 
            width: auto;
            margin-left: 1.5vw;
            a{
                padding: 0.5vw;
            }
        }
    }
    .hamburger {
        display: none;
    }

    .btnLogin {
        font-size: 1vw;
        width: 11vw;
        padding: 0.8vw;
    }
    .homeImg {
        width: 47vw;
        height: 47vw;
    }

    .mainIdea {
        width: 50vw;
        h1 {
            font-size: 2vw;
            padding: 8vw 6vw 1vw 6vw;     
        }
    }
    .btn {
        width: 15vw;
        font-size: 1.7vw;
        margin-top: 2vw;
        a {
            font-size: 1.7vw;
        }
    }

    .leaveStuffBox {
        width: 50vw;
    }

    .firstSectionBox{
        width: 50vw;
        position: absolute;
        top: 11vw;
        left: 47vw;
    }
    .threeColumns{
        margin-top: 0vw;
    }

    .navigation {

        border-bottom: none; 
    }

    .formHome1 {
        margin-top: 2vw;
    }

    .formHome strong {
        font-size: 1vw;
    }

    .logFormBox .userBox {
        width: 42vw;
        height: 27vw;
        label {
            font-size: 1.6vw;
        }
        input {
            font-size: 1.6vw;
            margin: 1.5vw 0;
            width: 28vw;
        }
        strong {
            font-size: 1.3vw;
        }

    }

    .logFormBox .userBoxReg {
        height: 38vw;
    }

    .noBorderBtn {
        padding: 1vw 0;
        font-size: 2vw;
        width: 19.5vw;
        margin-bottom: 4vw;
        a{
            font-size: 2vw;
        }
    }

    .fontCorrect{
        font-size: 3vw;
    }

    .mainPageBtn {
        font-size: 2vw;
        width: 20vw;
        padding: 1vw;
    }
    .logMarginCorrect{
        margin-top: 15vw;
    }

    .mainPage{
        padding: 2vw;
    }

    .navMarginCorrect{
        margin-left: 1.5vw !important;
    }

    .navMenu .navOptions a {
        padding: 0.5vw;
        &:hover{
            color: $attentionColor;
        }
    }

    .formImg1 {
        width: 47vw;
        height: 47vw;
    }

    .mainTheme h1 {
        font-size: 2vw;
        padding: 0.5vw;
        line-height: 3vw;
    }

    .form4Steps {
        font-size: 2vw;
    }

    .formStepsContainer {
        padding: 4vw 0;
        font-size: 1.2vw;
        .formStep{
            margin-left: 2vw;
            width: 9.5vw;
            height: 9.5vw;
            div{
                margin-top: 3vw;
                transform: rotate(-45deg);
                width: 7vw;
                span{
                    margin-left: 2vw;
                    font-size: 1.4vw;
                }
            }
        }
    }

    .strongMargin{
        margin-left: 2vw;
        display: inline-block;
    }

    .formSectionRWD{
        position: absolute;
        left: 20vw;
        top: 12vw;
    }

    .yellowBelt{
        h1{
            padding-bottom: 1vw;
            font-size: 1.6vw;
            font-weight: bolder;
        }
        p {
            font-size: 1.3vw;
        }
    }

    .leaveThingsForm span {
        font-size: 1.5vw;
    }

    .leaveThingsForm h1 {
        font-size: 1.4vw;
        font-weight: bolder;
        color: #3C3C3C;
    }


    .chooseElement label {
        font-size: 1.3vw;
    }

    .chooseElement input:before {
        width: 2vw;
        height: 2vw;
    }
    .chooseElement input {
        margin-right: 2vw;
        width: 2vw;
        height: 2vw;
    }
    .chooseElement {
        display: flex;
        align-items: center;
        padding: 1vw 0;
    }

    .btnBoxCorrect{
        justify-content: flex-start;
        align-items: center;
    }

    .marginTopCorrect{
        margin: 2vw 0 2vw 0;
    }

    .btnCorrect{
        width: 10vw;
        height: 3vw;
        padding: 0;
        font-size: 1.3vw;
    }

    .formHomeBox2 {
        position: absolute;
        left: 60vw;
        top: 110vw;
    }

    .footerBoxCorrect {
        position: absolute;
        left: 12vw;
        top: 157vw;
        padding-bottom: 0vw;
    }

    .alert strong {
        padding-top: 2vw;
        display: flex;
        font-size: 1.2vw;
    }

    .step2Box {
        p {
            font-size: 1.3vw;
        }
        select {
            width: 14vw;
            height: 2vw;
            font-size: 1.3vw;
        }
    }

    .leaveThingsForm {
        height: 47.2vw;
        h2 {
            margin-top: 0;
            padding: 0;
            font-size: 1.6vw;
            font-weight: bolder;
            color: #3C3C3C;
        }
        textarea {
            resize: none;
            width: 27vw;
            height: 3vw;
            margin-top: 2vw;
            font-size: 1.3vw;
            background-color: transparent;
        }
    }

    .citySelect {
        margin: 2vw 0 2vw 0;
        width: 14vw;
        height: 2vw;
        font-size: 1.3vw;
    }

    .chooseElementsBox {
        padding: 0;
        width: 50vw;
    }

    .chooseElements {
        padding: 1vw 1vw 1vw 0;
        label {
            font-size: 1.2vw;
            padding: 0.5vw;
        }
    }

    .formDateBoxes .dateBox h2 {
        font-size: 1.6vw;
    }

    .formDateBoxes .dateBox label {
        font-size: 1.6vw;
        /* margin-top: 2vw; */
    }

    .formDateBoxes .dateBox input {
        margin-right: 3vw;
        width: 15vw;
        height: 2vw;
        background-color: #F0F1F1;
        border: 0.1vw solid #737373;
        margin-top: 2vw;
        background-color: transparent;
    }

    .formDateBoxes .dateBox {
        width: 29vw;
        padding-left: 3vw;
    }

    .formDateBoxes {
        display: flex;
        justify-content: flex-start;
    }

    .formDateBoxes .dateBox label {
        font-size: 1.6vw;
        margin-top: 1vw;
        display: block;
    }

    .formDateBoxes .dateBox input {
        width: 15vw;
        height: 2vw;
        margin-top: 0;
        font-size: 1.4vw;
    }

    .formDateBoxes .dateBox .lastInput {
        height: 6.5vw;
    }

    .formDateBoxes .dateBox {
        width: 29vw;
        padding-left: 0vw;
    }

    .sumUp strong, .sumUp h1, .sumUp p {
        font-size: 1.6vw;
    }
    
    .formDateBoxes .dateBox p {
        padding: 0.5vw 0;
        font-size: 1.6vw;
    }

    .sumUp {
        padding: 3vw 0 3vw 0;
        p{
            margin: 0.5vw 0
        }
    }

    .lastStepThanks h1, .lastStepThanks p {
        font-size: 1.6vw;
    }

    .lastStepThanks {
        padding: 0vw;
        padding-top: 9vw;
    }

    .correctPosition{
        top: 103vw;
    }

    .footerCorrectPosition{
        top: 149vw;
    }

    .correctPosition2{
        top: 81vw;
    }

    .footerCorrectPosition2{
        top: 126vw;
    }

    .leaveThingsForm {
        background-image: url(../assets/Background-Form.jpg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .successText {
        font-size: 1vw;
        margin-top: 2vw;
    }
}    

@media screen and (min-width:1020px){
    .logFormBox .userBox {
        padding: 3vw 6vw;
        width: 31vw;
        height: 26vw;
        label {
            font-size: 1vw;
        }
        input {
            font-size: 1vw;
            margin: 1.5vw 0;
            width: 19vw;
            height: 2vw;
        }
        strong {
            font-size: 1vw;
            
        }
        

    }
    .logFormBox .userBoxReg {
        height: 25vw;
    }

    .noBorderBtn {
        padding: 1vw 0;
        font-size: 1.2vw;
        width: 19.5vw;
        margin-bottom: 4vw;
        a{
            font-size: 1.1vw;
        }
    }

    .fontCorrect{
        font-size: 2vw;
    }

    .logFormBox{
        .boxSizeCorrect{
            height: 20vw;
        }
    }

    .mainPage{
        padding: 2vw;
    }
}


// @media screen and (min-width: 768px) {
//     .hamburger {
//       display: none;
//     }
//     .homeImg{
//         width: 50vw;
//         height: 50vw;
//     }
//     .loginBox {
//         transition: transform .4s ease-in-out;
//         transform: translateY(0vw);
//         display: flex;
//         align-items: center;
//         justify-content: end;
//     }
//     .navMenu {
//         transition: transform .4s ease-in-out;
//         transform: translateY(0vw);
//         font-size: 4vw;
//         background-color: white;
//         //position: absolute;
//         display: flex;
//         //float: right;
//         margin-left: 56vw;
//     }
// }
// xs - max-width: 575px,
// sm - min-width: 576px,
// md - min-width: 768px,
// lg - min-width: 992px,
// xl - min-width: 1200px,
// hd - min-width: 1600px.

// /* Small screens*/
// @media only screen { } /* Define mobile styles */
// @media only screen and (max-width: 40em) { }
// /* Medium screens */
// @media only screen and (min-width: 40.063em) { }
// @media only screen and (min-width: 40.063em)
// and (max-width: 64em) { }
// /* Large screens*/
// @media only screen and (min-width: 64.063em) { }
// @media only screen and (min-width: 64.063em)
// and (max-width: 90em) { }

