@import './settings/fonts';
@import './settings/colors';
@import '../../node_modules/reset.css/reset.css';

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    font-family: $font-base;
    color:$regularFontColor ;
    background-color: $backgroundColor;
}

//home section :
.navigation{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.hamburger{
    padding:2vw;
    display: inline-block;
    border:0;
    margin:0;
    background: transparent;
    border-style: none;
}

button:focus {outline:0;}

.hamburgerBox{
    width: 8vw;
    height: 7vw;
    display: inline-block;
    position: relative;
}

@mixin hamburgerLine {
    width: 100%;
    height: 1vw;
    background-color: black;
    position: absolute;
}

.hamburgerInner{
    @include hamburgerLine;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
    &:before,&:after{
        @include hamburgerLine;
        top:10px;
        left: 0;
        content:'';
        transition: transform .2s .2s ease-in-out;
    }
    &:before{
        top: -10px;
    }
    &:after{
        top:10px;
    }
}

.hamburgerActive .hamburgerInner{
    background-color: transparent;
    &:before{
        transform:translateY(10px) rotate(45deg)
    }
    &:after{
        transform:translateY(-10px) rotate(-45deg)
    }
}

.navMenu{
    float: right;
    transform:translateX(150px);
    transition: transform .2s .2s ease-in-out;
    .navOptions{
        list-style: none;
        width: 30vw;
        padding: 2vw;
        border: 1px solid black;
    }
}

.hiddenMenu{
    transform:translateX(0px);
    transition: transform .2s .2s ease-in-out;
}

.homeImg{
    background-size: cover;
    width: 20vw;
    height: 20vw;
    background: url(../assets/Home-Hero-Image.jpg) no-repeat right/cover
}

// xs - max-width: 575px,
// sm - min-width: 576px,
// md - min-width: 768px,
// lg - min-width: 992px,
// xl - min-width: 1200px,
// hd - min-width: 1600px.

// /* Small screens*/
// @media only screen { } /* Define mobile styles */
// @media only screen and (max-width: 40em) { }
// /* Medium screens */
// @media only screen and (min-width: 40.063em) { }
// @media only screen and (min-width: 40.063em)
// and (max-width: 64em) { }
// /* Large screens*/
// @media only screen and (min-width: 64.063em) { }
// @media only screen and (min-width: 64.063em)
// and (max-width: 90em) { }