//Main colors:
$white:white;
$cream:#F0F1F1;
$darkGrey: #3C3C3C;
$whiteGrey:#737373;
$yellow:#FAD648;
$darkYellow:#5E5322;

//Components colors:
$backgroundColor:$white;
$altBackgroundColor:$cream;
$regularFontColor:$whiteGrey;
$boldFontColor:$darkGrey;
$columnFontColor:$darkYellow;
$attentionColor:$yellow;

